@import '../core/variables';

.section5__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section5__title {
  font-family: 'Antic';
  font-size: 40px;
  margin-top: 50px;
  color: $layer6;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section5__icon {
  color: $layer6;
  font-size: 50px;
  margin: 40px;
}

.section5__icon:hover {
  color: $layer1Darkest;
  cursor: pointer;
}
// .section5__icon1:hover {
//   animation: bounce 2s ease infinite;
// }
// .section5__icon2:hover {
//   animation: bounce 2s ease infinite;
// }
// .section5__icon3:hover {
//   animation: bounce 2s ease infinite;
// }

// @keyframes bounce {
//   70% {
//     transform: translateY(0%);
//   }
//   80% {
//     transform: translateY(-15%);
//   }
//   90% {
//     transform: translateY(0%);
//   }
//   95% {
//     transform: translateY(-7%);
//   }
//   97% {
//     transform: translateY(0%);
//   }
//   99% {
//     transform: translateY(-3%);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }
